<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Chart JS -->

    <!-- datasource -->

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datasource@0.1.0"></script>

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <script src="http://d3js.org/d3.v3.min.js"></script>

    <title>Hanoi Housing Market: Predict House Price Using Classification Technique</title>
</head>

<body>

<h1 class="text-center">Hanoi Housing Market: Predict House Price Using Classification Technique</h1>
<div class="container my-4">

    <div class="row">

        <div class="col my-4">

            <div class="alert alert-info" role="alert">1. Title: VN_housing_dataset
                <br><br> 2. Sources:
                <br> (a) Creator: <b> Group: 10</b>
                + Student Name: Nguyen Dang Huynh Chau (s3777214)
                + Student Name: Tran Ngoc Anh Thu (s3879312)
                + Student Name: Ho Le Minh Thach (s3879312)
                + Lecturer: Vo Ngoc Yen Nhi
                <br> (c) Date: January, 2022<br><br> 3. Past Usage:<br><br> The hierarchical decision model, from which
                this dataset is<br> derived, comes from real estate listings posted on<br><br> Alo Nhà
                Đất](https://alonhadat.com.vn) that was crawled in August 2020 by [Le Anh
                Duc](https://www.kaggle.com/ladcva): Knowledge acquisition and explanation for
                <br> multi-attribute decision making.<br>
            </div>
        </div>

        <div class="col my-4">

            <!-- Dropdown -->
            <br>

            <div class="row">

                <div class="col">
                    <form action="/" method="POST">

                        <div class="form-group my-4 mx-4 text-center">
                            <h5 class="text-center">Select Feature for EDA</h5>
                            <select class="form-control" id="feature" name="feature">
                                <option value="District">District</option>
                                <option value="House_type">House_type</option>
                                <option value="Legal_documents">Legal_documents</option>
                                <option value="No_bedroom">No_bedroom</option>
                                <option value="No_floor">No_floor</option>
                                <option value="Month">Month</option>

                            </select>
                        </div>

                        <div class="form-group my-4 mx-4">

                            <!--District-->
                            <div class="form-group">
                                <label for="tech">Select the District</label>
                                <select class="form-control" id="tech" name="District">
                                    <option value="0">CẦU GIẤY</option>
                                    <option value="1">THANH XUÂN</option>
                                    <option value="2">HAI BÀ TRƯNG</option>
                                    <option value="3">TÂY HỒ</option>
                                    <option value="4">ĐỐNG ĐA</option>
                                    <option value="5">HÀ ĐÔNG</option>
                                    <option value="6">HUYỆN THANH TRÌ</option>
                                    <option value="7">HOÀNG MAI</option>
                                    <option value="8">LONG BIÊN</option>
                                    <option value="9">HOÀN KIẾM</option>
                                    <option value="10">NAM TỪ LIÊM</option>
                                    <option value="11">BA ĐÌNH</option>
                                    <option value="12">HUYỆN HOÀI ĐỨC</option>
                                    <option value="13">BẮC TỪ LIÊM</option>
                                    <option value="14">HUYỆN ĐAN PHƯỢNG</option>
                                    <option value="15">HUYỆN THANH OAI</option>
                                    <option value="16">HUYỆN SÓC SƠN</option>
                                    <option value="17">HUYỆN GIA LÂM</option>
                                    <option value="18">HUYỆN CHƯƠNG MỸ</option>
                                    <option value="19">HUYỆN ĐÔNG ANH</option>
                                    <option value="20">HUYỆN THƯỜNG TÍN</option>
                                    <option value="21">THỊ XÃ SƠN TÂY</option>
                                    <option value="22">HUYỆN MÊ LINH</option>
                                    <option value="23">HUYỆN THẠCH THẤT</option>
                                    <option value="24">HUYỆN QUỐC OAI</option>
                                    <option value="25">HUYỆN PHÚC THỌ</option>
                                    <option value="26">HUYỆN PHÚ XUYÊN</option>
                                    <option value="27">HUYỆN BA VÌ</option>
                                    <option value="28">HUYỆN MỸ ĐỨC</option>
                                </select>
                            </div>


                            <!--House_type-->
                            <div class="form-group">
                                <label for="tech">Select the House Type</label>
                                <select class="form-control" id="tech" name="House_type">
                                    <option value="0">BYROAD</option>
                                    <option value="1">STREET_HOUSE</option>
                                    <option value="2">TOWNHOUSE</option>
                                    <option value="3">VILLA</option>
                                </select>
                            </div>


                            <!--Legal documents-->
                            <div class="form-group">
                                <label for="tech">Select the Legal Documents</label>
                                <select class="form-control" id="tech" name="Legal_documents">
                                    <option value="0">AVAILABLE</option>
                                    <option value="1">WAITING</option>
                                    <option value="2">OTHERS</option>
                                </select>
                            </div>


                            <!--Number of Bedrooms-->

                            <div class="form-group">
                                <label for="tech">Select the Number of Bedrooms</label>
                                <select class="form-control" id="tech" name="No_bedroom">
                                    <option value="0">1</option>
                                    <option value="1">2</option>
                                    <option value="2">3</option>
                                    <option value="3">4</option>
                                    <option value="4">5</option>
                                    <option value="5">6</option>
                                    <option value="6">7</option>
                                    <option value="7">8</option>
                                    <option value="8">9</option>
                                    <option value="9">10</option>
                                    <option value="10">GREATER_THAN_10</option>
                                </select>
                            </div>


                            <!--Number of Floors-->
                            <div class="form-group">
                                <label for="tech">Select the Number of Floors</label>
                                <select class="form-control" id="tech" name="No_floor">
                                    <option value="0">1</option>
                                    <option value="1">2</option>
                                    <option value="2">3</option>
                                    <option value="3">4</option>
                                    <option value="4">5</option>
                                    <option value="5">6</option>
                                    <option value="6">7</option>
                                    <option value="7">8</option>
                                    <option value="8">9</option>
                                    <option value="9">10</option>
                                    <option value="10">GREATER_THAN_10</option>
                                </select>
                            </div>


                            <!--Month-->
                            <div class="form-group">
                                <label for="tech">Select the Month</label>
                                <select class="form-control" id="tech" name="Month">
                                    <option value="0">1</option>
                                    <option value="1">2</option>
                                    <option value="2">3</option>
                                    <option value="3">4</option>
                                    <option value="4">5</option>
                                    <option value="5">6</option>
                                    <option value="6">7</option>
                                    <option value="7">8</option>
                                    <option value="8">9</option>
                                    <option value="9">10</option>
                                    <option value="10">11</option>
                                    <option value="11">12</option>
                                </select>
                            </div>


                            <!--Select the Classifier-->
                            <div class="form-group">
                                <label for="tech">Select the Classifier</label>
                                <select class="form-control" id="tech" name="algo">
                                    <option value="rf">Random Forest Classifier</option>
                                    <option value="dt">Decision Tree Classifier</option>
                                    <option value="svc">Support Vector Classifier</option>
                                </select>
                            </div>


                            <!-- button -->
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Predict</button>
                            </div>
                        </div>


                    </form>
                </div>


                {% if display %}


                    <!-- Number of Subscribers Domain Wise -->

                    <div class="col">

                        <div class="card-body">
                            <label for="banana" style="text-align:center;font-size:1.2rem;font-weight: bold;">Contribution
                                of
                                {{ value }} towards Status of the House Price</label>
                            <div class="chart-container my-3" style="position: relative;">
                                <canvas height="400" width="400" id="chart"></canvas>
                            </div>
                        </div>


                    </div>


                    {% if showtemplate %}

                        <div class="alert alert-success" role="alert">
                            <h4 class="alert-heading">Well done!</h4>
                            <p>Based on the above details filled,the Range Price of your house is : {{ predictedclass }}
                                with an accuracy of {{ accuracy }} %</p>
                            <hr>
                        </div>
                    {% endif %}



                {% else %}


                {% endif %}

            </div>
        </div>


    </div>
</div>

{% block javascript %}

    <script>
        var mapper = {{mapper | safe}};
        console.log(mapper);

        var keys = new Array();
        var values = new Array();

        for (const item in mapper) {
            keys.push(item)
            values.push(mapper[item])
        }


        // Chart1

        var ctx = document.getElementById('chart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: keys,
                datasets: [{
                    label: keys,
                    data: values,
                    backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(75, 192, 192)',
                        'rgb(255, 205, 86)',
                        'rgb(201, 203, 207)',
                        'rgb(54, 162, 235)',
                        'rgba(153, 102, 255)',
                        'rgba(255, 159, 64)',
                        'rgba(250, 157, 60)'
                    ],
                    hoverOffset: 4

                }]
            }
        })
    </script>

{% endblock %}



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>